spring:
  datasource:
    url: jdbc:mysql://localhost:3306/center
    username: root
    password: 531184
    driver-class-name: com.mysql.cj.jdbc.Driver
  #session失效时间
  session:
    timeout: 86400
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher #springboot2.6以上pathmatch策略为pathpattern，之前的版本为ant_path_matcher,需要手动改回
server:
  port: 8080
  servlet:
    context-path: /api
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false
  global-config:
    db-config:
      logic-delete-field: isDelete
      logic-delete-value: 1
      logic-not-delete-value: 0